<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Unimovimento</title>
</head>

<body>
<!-- Imagem e texto -->
<style>


</style>
  <nav class="navbar navbar-dark bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
      <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark">
      <h5 class="text-white h6 ml-5">Conteúdo expandido</h5>
     
    </div>
  </div>
      
  <a class="navbar-brand ml-5" href="#">
    
</style>
    UNIMOVIMENTO
  </a>
    </button>
  

    <div class="navbar navbar-dark bg-dark ml-5">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(Página atual)</span></a>
      <a class="nav-item nav-link" href="#">Cadastro</a>
      <a class="nav-item nav-link" href="#">Usuário</a>
      <a class="nav-item nav-link" href="#">Pg's</a>
      <a class="nav-item nav-link" href="#">Desativado</a>
    </div>

 

 
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>
